# 파일 읽고 쓰기
- 파일 객체 : open(파일 이름, 파일 열기 모드)
- 파일 열기 모드 : x(읽기모드), w(쓰기모드), a(추가모드)

In [33]:
# 파일을 쓰기모드로 열어 출력값 저장하기

f = open("./Data/new.txt", "w")
for i in range(1,11):
    data = "%d번째 줄 입니다.\n"%i
    f.write(data)
f.close()

In [34]:
# 파일 일기모드로 내용 출력하기 - 1

f = open("./Data/new.txt", "r")
while True:
    line = f.readline()
    if not line:
        break
    print(line)
f.close()

1번째 줄 입니다.

2번째 줄 입니다.

3번째 줄 입니다.

4번째 줄 입니다.

5번째 줄 입니다.

6번째 줄 입니다.

7번째 줄 입니다.

8번째 줄 입니다.

9번째 줄 입니다.

10번째 줄 입니다.

In [43]:
# 파일 읽기모드로 내용 출력하기 - 2

f = open("./Data/new.txt", "r")
lines = f.readlines()
for line in lines:
    print(line)
f.close

1번째 줄 입니다.

2번째 줄 입니다.

3번째 줄 입니다.

4번째 줄 입니다.

5번째 줄 입니다.

6번째 줄 입니다.

7번째 줄 입니다.

8번째 줄 입니다.

9번째 줄 입니다.

10번째 줄 입니다.

In [36]:
# 파일 읽기모드로 내용 출력하기 - 3
f = open("./Data/new.txt", "r")
data = f.read()
print(data)
f.close()

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

# with문
:파일의 열고 닫음을 자동으로 처리하기 위해 사용되면 with문을 벗어나면 자동으로 close()

In [37]:
# 파일 만들기
with open("./Data/new2.txt", "w") as f:
    for i in range(1,11):
        data = "%d번째 줄 입니다.\n" %i
        f.write(data)

In [38]:
#  파일 일겅오기
with open("./Data/new2.txt", "r") as f:
    data = f.read()
    print(data)

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

# Pandas로 불러오기

In [31]:
import pandas as pd

In [41]:
txtSample = pd.read_table("./Data/new.txt", header=None)
txtSample.head()
txtSample.tail()

                0
5   6��° �� �Դϴ�.
6   7��° �� �Դϴ�.
7   8��° �� �Դϴ�.
8   9��° �� �Դϴ�.
9  10��° �� �Դϴ�.

# 외장함수

In [4]:
# time. sleep :일정시간 간격으로 Loop를 실행
import time

for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

In [6]:
import calendar
print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [8]:
calendar.prmonth(2021, 7)

     July 2021
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [10]:
calendar.weekday(2021,7,2)
# 요일 0 = 월요일

4

In [11]:
calendar.monthrange(2021,7)

(3, 31)

In [14]:
# web browser

In [13]:

# web browser

import webbrowser
webbrowser.open("https://www.naver.com")

True