# ---변수와 자료형 ---

## 변수
##### 계산에 필요한 자룔를 일시적으로 저장하거나 처리결과를 담을 수 있는 기억 장소를 지정해 주는 역할. 변수 이름은 값을 지정하는 메모리 영역의 이름으로 할당.

## 변수 이름의 작성 규칙
- 첫자는 영문으로 시작.
- 첫자를 제외하고 숫자, under bar, dot를 사용할 수 있음
- 대문자와 소문자를 구분.
- 변수 이름은 의미를 파악할 수 있는 이름으로 지정하는 것이 좋음.
- 두단어를 포함한 변수 이름을 지정할 경우 두번째 단어의 첫자는 대문자로 표시(camel method)나 underbar(snake method)로 표시 하는것이 가독성에 좋음

# 자료형

## 숫자 자료형

In [11]:

# 정수형

var01 = 123
var01 = -17
var01 = 0

var01

-17

In [10]:
# 실수형
var02 = 1.2
var02 = -12.34

var02

-12.34

In [12]:
# 연산자

var01 = 3
var02 = 4

print('덧셈 : ', var01 + var02)
print('뺄셈 : ', var01 - var02)
print('곱셈 : ', var01 * var02)
print('실수 나눗셈 : ', var01 / var02)
print('정수 나눗셈 몫 : ', var01 // var02)
print('정수 나눗셈 나머지 : ', var01 % var02)
print('제곱 : ', var01 ** var02)
print('제곱 : ', pow(var01, 2))

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수 나눗셈 :  0.75
정수 나눗셈 몫 :  0
정수 나눗셈 나머지 :  3
제곱 :  81
제곱 :  9

## 파이썬 모듈을 이용한 수학계산

In [15]:
# 수학계산 모듈 불러오기
import math

In [17]:
# 거듭제곱
math.pow(var01, 2)

9.0

In [19]:
# 제곱근
math.sqrt(var01)

1.7320508075688772

In [20]:
# sin(45)
math.sin(45)

0.8509035245341184

In [21]:

math.pow(math.sin(45),2) + math.pow(math.cos(45),2)

1.0

## 난수발생

In [24]:
import random

In [52]:
random.randint(1,100)

23

In [53]:
# 리스트 내에서 몇개 랜덤으로 나타낼댄 sample
rlist = [1,2,3,4,5]
random.sample(rlist, 3)

[4, 5, 1]

In [50]:
alist = range(1, 101)
for i in alist :
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [54]:
# 로또 자동번호 생성기
alist = range(1,47)
random.sample(alist, 6)

[6, 35, 3, 45, 42, 2]

In [58]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_16',
 '_17',
 '_18',
 '_19',
 '_20',
 '_21',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_51',
 '_52',
 '_53',
 '_54',
 '_55',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'alist',
 'exit',
 'get_ipython',
 'i',
 'math',
 'quit',
 'random',
 'rlist',
 'var02']

In [64]:
# 메모리에 있는 변수 지우기

del var01

NameError: name 'var01' is not defined

## 논리연산자

In [82]:
num1 = 100
num2 = 50

In [83]:
# And, or
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))

False
True

In [84]:
 # 부정 연산자
not(num1>= 50)

False

## 문자열 자료형

In [69]:

var01 = "Hello world!"
var01

'Hello world!'

In [70]:
# 여러줄의 문자열 출력

var01 = """ 
    Hello World!
    Good to meet you!
"""
print(var01)

    Hello World!
    Good to meet you!

In [71]:

# 쌍따옴표와 홑따옴표 사용

var01 = "My faher's wife is my mother."
var02 = 'he says "I love you."'
print(var01)
print(var02)

My faher's wife is my mother.
he says "I love you."

In [72]:
# 특수문자를 사용한 출력
var03 = 'aaa\nbbb'
var04 = 'aaa\tbbb'
print(var03)
print(var04)

aaa
bbb
aaa	bbb

In [73]:
# 문자열 연산(덧셈)
var01 = 'Python'
var02 = 'is fun'

print(var01 + var02)
print(var01, var02)

Pythonis fun
Python is fun

In [74]:
#문자열 연산(곱셈)
print(var01 * 3)

PythonPythonPython

In [75]:
# 문자열 indexing과 Slicing
str = "abcdefghijklmn"
print(str[0])
print(str[0:3]) #3번전까지!
print(str[-1]) #맨뒤에글자
print(str[5:])
print(str[:5])

# fghijkl [_:-_]
print(str[5:-2])

a
abc
n
fghijklmn
abcde
fghijkl

In [76]:
str = "20211231"
# 2021-12-31
print(str[0:4],str[4:6],str[6:8])

2021 12 31

In [77]:
#2021C1231
print(str[0:4] + "C" + str[4:])

2021C1231

## 문자열 관련함수 // 여기서 부터는 진짜 많이 사용됨

In [80]:
#문자 Count
str = "I have a dream."
print(str.count('a')) # a라는 글자갯수
print(len(str))

3
15

In [86]:
# 문자 위치 알려주기
print(str.find('e'))
print(str.find('x')) #없는 문자는 -1로 출력

5
-1

In [88]:
# 문자열 삽입
str= ','
str.join('abcdefg')

'a,b,c,d,e,f,g'

In [89]:

#소문자를 대문자로 변경
str = 'hi'
str.upper()
'hi'.upper()

'HI'

In [90]:
# 대문자를 소문자로

str = 'HI'
str.lower()

'hi'

In [91]:
# 왼쪽 공백 지우기
str = '        hi'
str.lstrip()

'hi'

In [92]:
#공백 지우기
str = 'hi       '
str.rstrip()

'hi'

In [93]:

#양쪽 공백 지우기
str = '     hi       '
str.strip()

'hi'

In [95]:
#문자열 바꾸기
str = 'Life is too short to be happy'
str.replace('happy', 'unhappy')

'Life is too short to be unhappy'

In [96]:

#문자열 나누기 많이사용!
str

'Life is too short to be happy'

In [97]:
list01 = str.split() #split()안은 나누는 기준값을 넣어준다
print(list01)
#리스트 형식으로 나온다

['Life', 'is', 'too', 'short', 'to', 'be', 'happy']

In [98]:

str01 = '2021-12-31'
str01.split('-')[0] + list01[0]

'2021Life'

In [99]:
# 현재 변수 타입 확인하기

print(type(list01))
print(type(str01))

<class 'list'>
<class 'str'>

## 날짜형 변환

In [101]:
from datetime import datetime, timedelta # 날짜형 모듈 불러오기

In [103]:

time1 = datetime(2021,12,31,12,0,0,0)
print(time1)
type(time1)

2021-12-31 12:00:00

datetime.datetime

In [104]:
#날짜 계산하기
time2 = datetime.now()
print(time1-time2)

172 days, 7:37:28.105248

In [105]:
#좀 더 편리하게 출력
print('두 날짜의 차이는 ' )
print((time1 - time2).days, '일')

두 날짜의 차이는
172 일

In [106]:
# 특정 날짜로 부터 시간 계산
print('현재 시간부터 5일 뒤')
print(time2 + timedelta(days=5))
print('현재 시간부터 5일 전')
print(time2 + timedelta(days=-5))

# 현재 시간부터 1일 뒤의 2시간 전
print(datetime.now() + timedelta(days=1, hours=-2))

현재 시간부터 5일 뒤
2021-07-17 04:22:31.894752
현재 시간부터 5일 전
2021-07-07 04:22:31.894752
2021-07-13 02:25:09.185469