## range 함수
range(시작숫자, 끝숫자, 증가값)

In [3]:
var=range(1,11)
var

range(1, 11)

In [4]:
# range의 범위를 list로 출력

list(range(1,11))

#출력시 list로 감싸주기

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [8]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [11]:
# error가 안난다 잘 확인해야한다
list(range(0,10,-2))

[]

In [12]:
var[9]

10

In [14]:
type(var)

range

## for문에 range함수 사용하기

In [16]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
# 1부터 10까지의 수중 홀수 안 출력하기

for i in range(1,11,2):
    print(i)

# 데이터를 홀수로만 주고 출력하면 된다

1
3
5
7
9

In [26]:
# 구구단 9단 출력
j=9

for i in range(1,10):
    print(j,'x',i,'=',(i*j))
    print(j,'x',i,'=','%2d'%(i*j)) # 자릿수 맞추기

9 x 1 = 9
9 x 1 =  9
9 x 2 = 18
9 x 2 = 18
9 x 3 = 27
9 x 3 = 27
9 x 4 = 36
9 x 4 = 36
9 x 5 = 45
9 x 5 = 45
9 x 6 = 54
9 x 6 = 54
9 x 7 = 63
9 x 7 = 63
9 x 8 = 72
9 x 8 = 72
9 x 9 = 81
9 x 9 = 81

In [29]:
# 프린트 문장을 옆으로 출력 하려면 끝에 ,end = ''
print('aaa', end = ' ')
print('bbb')

aaa bbb

In [36]:
 for j in range(2,10):
    for i in range(1,10):
        if(i!=9):
            print(i*j, end = ' ')
        else: print(i*j)

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

## for문에 List사용

In [42]:
test_list = ['one',"two",'three']

for i in test_list:
    print(i)

one
two
three

In [43]:
# 평균 구하기
scores = [78, 85, 95, 65]

total = 0
for score in scores:
    total += score
print(total / len(scores))

80.75

## for문에 Tuple사용하기

In [45]:
var = [(1,2),(3,4), (5,6)]

for first, last in var:
    print(first,":", last)

1 : 2
3 : 4
5 : 6

In [49]:
sum1 = 0
for first, last in var:
    sum1 += first + last
    
print(sum1)

21

총 5명의 학생이 시험을 보았는데, 시험점수가 60점을 넘으면 합격이고,
그렇지 않으면 불합격이다.
합격, 불합격 결과 보여주기

In [60]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
    if scores[number] >= 60:
        print(number+1,"의 학생은 합격 입니다.")
    else : print(number+1, "의 학생은 불합격 입니다.")

1 의 학생은 합격 입니다.
2 의 학생은 불합격 입니다.
3 의 학생은 합격 입니다.
4 의 학생은 불합격 입니다.
5 의 학생은 합격 입니다.

In [66]:
scores = [90, 25, 67, 45, 80]
number = 1
for score in scores:
    
    if score >= 60:
        print("%d의 학생은 점수가 %d이므로 합격 입니다." %(number,score))
    else: print("%d의 학생은 점수가 %d이므로 불합격 입니다." %(number,score))
    
    number += 1

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이므로 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이므로 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

학생들 점수의 평균을 구하여 평균점수 기준으로 합격, 불합격 보여주기

In [70]:
import numpy as np

In [68]:
scores = [90, 25, 67, 45, 80]
number = 1  # 학생번호
avg = np.mean(scores)   # 평균 점수
total = np.sum(scores)   # 학생들의 점수 총점

In [72]:
# 평균구하기
np.mean(scores)
# 합계구하기
np.sum(scores)

307

In [77]:
print("학급의 평균 점수는 ", avg, "입니다.")
print("")
for score in scores:
    if score >= avg:
        print("%d의 학생은 점수가 %d이므로 합격입니다." %(number,score))
    else: print("%d의 학생은 점수가 %d이므로 합격입니다." %(number,score))
        
    number += 1

학급의 평균 점수는  0.0 입니다.

1의 학생은 점수가 90이므로 합격입니다.
2의 학생은 점수가 25이므로 합격입니다.
3의 학생은 점수가 67이므로 합격입니다.
4의 학생은 점수가 45이므로 합격입니다.
5의 학생은 점수가 80이므로 합격입니다.